{% extends 'app/home.html' %}
{% load static %}
{% block title %}
Contact | 
{% endblock title %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center align-items-center">

    <div class="border border-success rounded p-3 ">
    <div class="text-center p-3">
    <!-- {% if post %} -->
        
    {% if post.renter.image %}
    <img class="card-img-top rounded-pill" style="max-width: 80px;" src="{{post.renter.image.url}}" alt="Card image cap">
    {% else %}
    <img class="card-img-top rounded-pill" style="max-width: 80px;" src="{% static 'images/owner.jpg' %}" alt="Card image cap">
    {% endif %}
    </div>

    <ul class="list-group list-group-flush">
                
        <li class="list-group-item "> <i class="fa-solid fa-check text-primary"></i> First Name :  {{post.user.first_name}}</li>
        <li class="list-group-item "> <i class="fa-solid fa-check text-primary"></i> Last Name :  {{post.user.last_name}} </li>
        <li class="list-group-item "> <i class="fa-solid fa-check text-primary"></i> Phone : +212 {{post.renter.phone}}</li>
        <li class="list-group-item "><i class="fa-solid fa-check text-primary"></i> Email : {{post.renter.email}}</li>
        <li class="list-group-item "><i class="fa-solid fa-check text-primary"></i> Address : {{post.renter.address}}</li>
        
      </ul>
    <!-- {% endif %} -->
    </div>
    
</div>
{% endblock content %}