{% extends 'app/home.html' %}

{% block title %}
Edit Post | 
{% endblock title %}

{% block content %}
<div class="container mt-3">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
           {% for x in form %}
           <div class="col-sm-12 col-md-6 col-lg-6 mb-2">
            {{x.label}}
           {{x}}
           </div>
           {% endfor %}
        </div>
        
    <div class="mt-2">
        <input class="btn btn-primary rounded" type="submit" value="Save Changes">
    </div>
    </form>
</div>
{% endblock content %}