{% extends 'app/home.html' %}

{% load static %}

{% block title %}
Reset Password | 
{% endblock title %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Password Reset</h1>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <form  method="post">
      {% csrf_token %}
      
      {{form}}

      <div class="form-group m-2">
        <input type="submit" class="btn btn-success rounded-pill" value="send email">
        
      </div>
    </form>
  </div>
{% endblock content %}