{% extends 'app/home.html' %}

{% block title %}
Confirm Password | 
{% endblock title %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Enter new password</h1>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form  method="post">
      {% csrf_token %}
      
      {{form}}
      
      <div class="form-group m-2">
        <input type="submit" class="btn btn-success rounded-pill" value="Update Password">
        
      </div>
    </form>
  </div>
{% endblock content %}