


<nav class="navbar navbar-expand-lg sticky-top ">
    <div class="container">
      <a class="navbar-brand logo-title fw-bold border rounded " href="{% url 'index' %}">Renting</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i  class="fa-solid fa-bars menu-bar"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link p-2 p-lg-3 " aria-current="page" href="{% url 'market' %}">Market </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 p-lg-3" href="#">About</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link p-2 p-lg-3 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hello, {{user.username}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'publish' %}">Publish A Renting</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logoutView' %}">Logout <i class="fa-solid fa-right-to-bracket"></i></a></li>
            </ul>
          </li>
          
        </ul>
        {% else %}
       <a class="btn btn-primary rounded-bill p-2 p-lg-3" href="{% url 'loginView' %}">Login</a>
       {% endif %}
      </div>
    </div>
  </nav>