


<div class="landing-div d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h1 class="text-white" >Welcome, To Renting</h1>
          <p class="text-white-50 text-capitalize fs-4 p-3">Unlock Your Perfect Home: Where Dreams and Apartments Meet. You Want To Rent An Apatment Or You Already Have One, Now You Can Rent It With Good Prices And Conditions.</p>
            <a class="btn btn-primary rounded fw-bold" href="{% url 'register' %}">Get Started</a>
        </div>
</div>